# Terraform working directories and local state
**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfvars
**/*.auto.tfvars
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local CLI config and caches
.terraformrc
terraform.rc

# macOS
.DS_Store
